# Checkpoints & large models
mask3d/saved/*.ckpt
mask3d/saved/hydra_logs/

# third party
third_party/


# Data
mask3d/data/
*.ply

# Build/env
cocoapi/
cuda_*.run

# PyTorch cache
__pycache__/
*.egg-info/
dist/
build/